{% assign size_name = "" %}
{% for size in include.product.sizes %}
    {% assign price_diff = size.price | minus: include.product.price %}
    {% if price_diff > 0 %}
        {% assign size_name = size_name | append: '|' | append: size.name | append: "[+" | append: price_diff | append: "]" %}
    {% else %}
        {% assign size_name = size_name | append: '|' | append: size.name %}
    {% endif %}
{% endfor %}
{% assign size_name = size_name | remove_first: '|' %}

<button class="snipcart-add-item"
	data-item-name="{{ include.product.name }}"
	data-item-id="{{ include.product.sku }}"
	data-item-image="{{ include.product.image_path }}"
	data-item-description="{{ include.product.description }}"
	data-item-url="{{ include.product.url }}"
	data-item-price="{{ include.product.price }}"
    data-item-custom1-name="Size"
    data-item-custom1-options="{{ size_name }}">
	{% if include.text %}{{ include.text }}{% else %}Choose Size{% endif %}
</button>