{% assign soy_sub = "" %}
{% for soy in include.product.soysub %}
    {% assign price_diff = soy.price | minus: include.product.price %}
    {% if price_diff > 0 %}
        {% assign soy_sub = soy_sub | append: '|' | append: soy.name | append: "[+" | append: price_diff | append: "]" %}
    {% else %}
        {% assign soy_sub = soy_sub | append: '|' | append: soy.name %}
    {% endif %}
{% endfor %}
{% assign soy_sub = soy_sub | remove_first: '|' %}


<!-- {% assign option_name = "" %}
{% for option in include.product.options %}
    {% assign option_name = option_name | append: '|' | append: option.name %}
{% endfor %}
{% assign option_name = option_name | remove_first: '|' %} -->


{% assign option_name = "" %}
{% for option in include.product.options %}
    {% assign price_diff = option.price | minus: include.product.price %}
    {% if price_diff > 0 %}
        {% assign option_name = option_name | append: '|' | append: option.name | append: "[+" | append: price_diff | append: "]" %}
    {% else %}
        {% assign option_name = option_name | append: '|' | append: option.name %}
    {% endif %}
{% endfor %}
{% assign option_name = option_name | remove_first: '|' %}

{% assign size_name = "" %}
{% for size in include.product.sizes %}
    {% assign price_diff = size.price | minus: include.product.price %}
    {% if price_diff > 0 %}
        {% assign size_name = size_name | append: '|' | append: size.name | append: "[+" | append: price_diff | append: "]" %}
    {% else %}
        {% assign size_name = size_name | append: '|' | append: size.name %}
    {% endif %}
{% endfor %}
{% assign size_name = size_name | remove_first: '|' %}

<!-- <button class="snipcart-add-item" -->
	<!-- data-item-name="{{ include.product.name }}" -->
	<!-- data-item-id="{{ include.product.sku }}" -->
	<!-- data-item-image="{{ include.product.image_path }}" -->
	<!-- data-item-description="{{ include.product.description }}" -->
	<!-- data-item-url="{{ include.product.url }}" -->
	<!-- data-item-price="{{ include.product.price }}" -->
    <!-- data-item-custom1-name="Options" -->
    <!-- data-item-custom1-options="{{ option_name }}" -->
    <!-- data-item-custom2-name="Substitute Soy Milk" -->
    <!-- data-item-custom2-options="{{ soy_sub }}" -->
    <!-- data-item-custom3-name="Size" -->
    <!-- data-item-custom3-options="{{ size_name }}" -->
    <!-- data-item-custom4-name="Comments"> -->
	<!-- {% if include.text %}{{ include.text }}{% else %}Choose Options & Size{% endif %} -->
<!-- </button> -->