{% assign bread_type = "" %}
{% for bread in include.product.breadtype %}
    {% assign price_diff = bread.price | minus: include.product.price %}
    {% if price_diff > 0 %}
        {% assign bread_type = bread_type | append: '|' | append: bread.name | append: "[+" | append: price_diff | append: "]" %}
    {% else %}
        {% assign bread_type = bread_type | append: '|' | append: bread.name %}
    {% endif %}
{% endfor %}
{% assign bread_type = bread_type | remove_first: '|' %}


<!-- {% assign option_name = "" %}
{% for option in include.product.options %}
    {% assign option_name = option_name | append: '|' | append: option.name %}
{% endfor %}
{% assign option_name = option_name | remove_first: '|' %} -->

<button class="snipcart-add-item"
	data-item-name="{{ include.product.name }}"
	data-item-id="{{ include.product.sku }}"
	data-item-image="{{ include.product.image_path }}"
	data-item-description="{{ include.product.description }}"
	data-item-url="{{ include.product.url }}"
	data-item-price="{{ include.product.price }}"
    data-item-custom1-name="Choose Bread Type"
    data-item-custom1-options="{{ bread_type }}">
	{% if include.text %}{{ include.text }}{% else %}Choose Bread Type{% endif %}
</button>