---
title: Drinks
hero: Our Hand-Made Drinks
subtitle: Delicious Smoothies, Licuados, and More
permalink: /products/drinks/
---
<div class="frontpage_content">
	<div class="content_sep">
		<a href="{{ site.url }}/products/drinks/coffees/">
			<picture>
				<img src="/uploads/coffee.jpg" alt="Alt Text!">
			</picture>
		</a>
		<a href="{{ site.url }}/products/drinks/coffees">
			<h3>Coffees</h3>
		</a>
	</div>
	<div class="content_sep">
		<a href="{{ site.url }}/products/drinks/hot-drinks/">
			<picture>
				<img src="/uploads/placeholder.jpg" alt="Alt Text!">
			</picture>
		</a>
		<a href="{{ site.url }}/products/drinks/hot-drinks/">
			<h3>Hot Drinks</h3>
		</a>
	</div>
	<div class="content_sep">
		<a href="{{ site.url }}/products/drinks/fresh-squeezed-juice/">
			<picture>
				<img src="/uploads/placeholder.jpg" alt="Alt Text!">
			</picture>
		</a>
		<a href="{{ site.url }}/products/drinks/fresh-squeezed-juice">
			<h3>Fresh Squeezed Juice</h3>
		</a>
	</div>
	{% for product in site.products %}
	{% if product.product_categories contains "Aguas Frescas" %}
	<div class="content_sep">
		<a href="{{ site.url }}/products/drinks/aguas-frescas/">
			<picture>
				<img src="/uploads/aguas_frescas.jpg" alt="Alt Text!">
			</picture>
		</a>
		<a href="{{ site.url }}/products/drinks/aguas-frescas">
			<h3>{{ product.name }}</h3>
		</a>
		<div class="product-description">
			<p>Select product for full description of flavors.</p>
		</div>
		<p style="padding-bottom: 20px;">${{ product.price }}</p>
		<div class="button">
			{% comment %}{% if product.product_categories contains "Options" and product.product_categories contains "Sizes" %}
			{% include snipcart-button-both.html product=product %}
			{% elsif product.product_categories contains "Options" %}
			{% include snipcart-button-options.html product=product %}
			{% elsif product.product_categories contains "Sizes" %}
			{% include snipcart-button-sizes.html product=product %}
			{% else %}
			{% include snipcart-button.html product=product %}
			{% endif %}{% endcomment %}
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% for product in site.products %}
	{% if product.product_categories contains "Smoothies" %}
	<div class="content_sep">
		<a href="{{ site.url }}/products/drinks/smoothies/">
			<picture>
				<img src="/uploads/smoothie.jpg" alt="Alt Text!">
			</picture>
		</a>
		<a href="{{ site.url }}/products/drinks/smoothies">
			<h3>{{ product.name }}</h3>
		</a>
		<div class="product-description">
			<p>Select product for full description of flavors.</p>
		</div>
		<p style="padding-bottom: 20px;">${{ product.price }}</p>
		<div class="button">
			{% comment %}{% if product.product_categories contains "Options" and product.product_categories contains "Sizes" %}
			{% include snipcart-button-both.html product=product %}
			{% elsif product.product_categories contains "Options" %}
			{% include snipcart-button-options.html product=product %}
			{% elsif product.product_categories contains "Sizes" %}
			{% include snipcart-button-sizes.html product=product %}
			{% else %}
			{% include snipcart-button.html product=product %}
			{% endif %}{% endcomment %}
		</div>
	</div>
	{% endif %}
	{% endfor %}

	{% for product in site.products %}
	{% if product.product_categories contains "Licuados" %}
	<div class="content_sep">
		<a href="{{ site.url }}/products/drinks/licuados/">
			<picture>
				<img src="/uploads/licuados.jpg" alt="Alt Text!">
			</picture>
		</a>
		<a href="{{ site.url }}/products/drinks/licuados">
			<h3>{{ product.name }}</h3>
		</a>
		<div class="product-description">
			<p>Select product for full description of flavors.</p>
		</div>
		<p style="padding-bottom: 20px;">${{ product.price }}</p>
		<div class="button">
			{% comment %}{% include snipcart-button-licuado.html product=product %}{% endcomment %}
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>