---
title: Hot Drinks
hero: Hot Drinks
subtitle: Our Range of Hot Drinks
permalink: /products/drinks/hot-drinks/
---

<div class="frontpage_content">
    {% for product in site.products %}
    {% if product.product_categories contains "Hot Drinks" %}
    <div class="content_sep">
        <h3>{{ product.name }}</h3>
        <div class="product-description">
            {{ product.description_markdown | markdownify }}
        </div>
        <p>${{ product.price }}</p>
        <div class="button button_custom">
            {% if product.product_categories contains "Options" and product.product_categories contains "Sizes" %}
            {% include snipcart-button-both.html product=page %}
            {% elsif product.product_categories contains "Options" %}
            {% include snipcart-button-options.html product=page %}
            {% elsif product.product_categories contains "Sizes" %}
            {% include snipcart-button-sizes.html product=page %}
            {% else %}
            {% include snipcart-button.html product=page %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>