---
title: Specialty Tortas
hero: Our Specialty Tortas
subtitle: Fresh and warm tortas!
permalink: /products/tortas/specialty-tortas/
---

<ul class="listproduct">
    {% for product in site.products %}
            {% if product.product_categories contains "Specialty Tortas" %}
                <li>
            			<h3>{{ product.name }}</h3>
            			<div class="product-description">
            				{{ product.description_markdown | markdownify }}
            			</div>
						<p>${{ product.price }}</p>
						<div class="button">
							<button class="snipcart-add-item"
								data-item-name="{{ product.name }}"
								data-item-id="{{ product.sku }}"
								data-item-image="{{ product.image_path }}"
								data-item-description="{{ product.description }}"
								data-item-url="{{ product.url }}"
								data-item-price="{{ product.price }}">
								Add to Cart
							</button>
						</div>
            	</li>
            {% endif %}
    {% endfor %}
</ul>