---
title: Tortas
hero: Tortas
subtitle: Fresh and warm tortas!
permalink: /products/tortas/
---
<div class="frontpage_content">
	{% for product in site.products %}
	{% if product.product_categories contains "Tortas" %}
	<div class="content_sep_2">
		<a href="{{ site.url }}/products/tortas/regular-torta/">
			<img class="editable" src="/uploads/torta.jpg">
		</a>
		<a href="{{ site.url }}/products/tortas/regular-torta/">
			<h3>{{ product.name }}</h3>
		</a>
	</div>
	{% endif %}
	{% endfor %}
	<div class="content_sep_2">
		<a href="{{ site.url }}/products/tortas/specialty-tortas/">
			<img class="editable" src="/uploads/torta.jpg">
		</a>
		<a href="{{ site.url }}/products/tortas/specialty-tortas/">
			<h3>Specialty Tortas</h3>
		</a>
	</div>
</div>