---
title: Tortas
hero: Tortas
subtitle: Fresh and warm tortas!
permalink: /products/tortas/
---
<ul class="product-list">
			<li>
				<a href="{{ site.url }}/products/tortas/specialty-tortas">
					<img class="fadeload" src="/uploads/placeholder.jpg" />
				</a>
				<div class="product-details">
					<h4>
						<a href="{{ site.url }}/products/tortas/specialty-tortas">Specialty Tortas</a>
					</h4>
				</div>
			</li>
    {% for product in site.products %}
            {% if product.product_categories contains "Tortas" %}
                <li>
                    <a href="{{ product.url }}">
				        <img class="editable" src="{{ product.image_path }}">
				    </a>
                    <div class="product-details">
            			<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
            			<div class="product-description">
            				{{ product.description_markdown | truncate: 45 | markdownify }}
            			</div>
            		    <p>${{ product.price }} and Up</p>
            		</div>
            	</li>
            {% endif %}
    {% endfor %}
</ul>