---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			<!-- <div class="frontpage_content">
				<div class="frontpage_link content_sep">
					<a href="/products/tortas">
						<h2>Tortas</h2>
							<picture>
								<source srcset="/uploads/torta.webp" type="image/webp">
								<source srcset="/uploads/torta.jpg" type="image/jpeg">
								<img class="fadeload" src="/uploads/torta.jpg" alt="Tortas">
							</picture>
					</a>
				</div>
				<div class="frontpage_link content_sep">
					<a href="/products/drinks">
						<h2>Drinks</h2>
							<picture>
								<source srcset="/uploads/drink.webp" type="image/webp">
								<source srcset="/uploads/drink.jpg" type="image/jpeg">
								<img class="fadeload" src="/uploads/drink.jpg" alt="Drinks">
							</picture>
					</a>
				</div>
				<div class="frontpage_link content_sep">
					<a href="/products/burritos">
						<h2>Burritos</h2>
						<picture>
							<source srcset="/uploads/burrito.webp" type="image/webp">
							<source srcset="/uploads/burrito.jpg" type="image/jpeg">
							<img class="fadeload" src="/uploads/burrito.jpg" alt="Burrito">
						</picture>
					</a>
				</div>
			</div> -->
			<div class="frontpage_content">
				<div class="content_sep">
					<h2>Fresh Bread, <br>Every Morning</h2>
					<p>We make fresh breads, always by hand, every day.</p>
					<p>
						<picture>
							<source srcset="/uploads/bakery.webp" type="image/webp">
							<source srcset="/uploads/bakery.jpg" type="image/jpeg">
							<img class="fadeload" src="/uploads/bakery.jpg" alt="Baked Bread">
						</picture>
					</p>
				</div>
				<div class="content_sep">
					<p>
						<picture>
							<source srcset="/uploads/cake.webp" type="image/webp">
							<source srcset="/uploads/cake.jpg" type="image/jpeg">
							<img class="fadeload" src="/uploads/cake.jpg" alt="Cakes">
						</picture>
					</p>
					<h2>We Make Cakes!</h2>
					<p>Custom made-to-order cakes. Tres leches, cheesecake, mocha rolls, and more! 1/4 sheet, 1/2 sheet, full sheet, and tiered sizes available.</p>
					<p>Call us at <a target="_blank" href="tel:8055642497">(805) 564-2497</a> or use our <a
							href="/contact/">contact form</a></p>
				</div>
			</div>
			<div class="frontpage_content">
			    <div class="content_sep">
			        <h2>Off Menu Items</h2>
			        <p>From tamales and vegan alternatives to our traditional breads, to fruit tarts and canolies, we have many off menu items.</p>
			        <p><a href="/contact/">Contact us</a> if you want a specific item, and we will tell you if we can provide.</p>
			    </div>
			    <div class="content_sep">
			        <h2>Large Orders</h2>
			        <p>If you have a large cake, event, or other food order, please contact us at least a day in advance so we can be prepared for you. Thank you for your understanding.</p>
			    </div>
			</div>
		</div>
	</section>
</div>