---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			<div class="frontpage_content" style="border-bottom: solid #333 2px;">
				<div class="frontpage_link content_sep">
					<a href="/products/tortas">
						<h2>Tortas</h2>
						<p>
							<picture>
								<source srcset="/uploads/torta.webp" type="image/webp">
								<source srcset="/uploads/torta.jpg" type="image/jpeg">
								<img class="fadeload" src="/uploads/torta.jpg" alt="Tortas">
							</picture>
						</p>
					</a>
				</div>
				<div class="frontpage_link content_sep">
					<a href="/products/drinks">
						<h2>Drinks</h2>
						<p>
							<picture>
								<source srcset="/uploads/drink.webp" type="image/webp">
								<source srcset="/uploads/drink.jpg" type="image/jpeg">
								<img class="fadeload" src="/uploads/drink.jpg" alt="Drinks">
							</picture>
						</p>
					</a>
				</div>
				<div class="frontpage_link content_sep">
					<a href="/products/burritos">
						<h2>Burritos</h2>
						<p>
							<picture>
								<source srcset="/uploads/burrito.webp" type="image/webp">
								<source srcset="/uploads/burrito.jpg" type="image/jpeg">
								<img class="fadeload" src="/uploads/burrito.jpg" alt="Burrito">
							</picture>
						</p>
					</a>
				</div>
				<div class="frontpage_mobileonly">
					<h2><a href="/products/">Order Now</a></h2>
				</div>
			</div>
			<div class="frontpage_content">
				<div class="content_sep">
					<h2>Fresh Bread, <br>Every Morning</h2>
					<p>We make fresh breads, always by hand, every day.</p>
					<p>
						<picture>
							<source srcset="/uploads/bakery.webp" type="image/webp">
							<source srcset="/uploads/bakery.jpg" type="image/jpeg">
							<img class="fadeload" src="/uploads/bakery.jpg" alt="Baked Bread">
						</picture>
					</p>
				</div>
				<div class="content_sep">
					<p>
						<picture>
							<source srcset="/uploads/cake.webp" type="image/webp">
							<source srcset="/uploads/cake.jpg" type="image/jpeg">
							<img class="fadeload" src="/uploads/cake.jpg" alt="Cakes">
						</picture>
					</p>
					<h2>We Make Cakes!</h2>
					<p>Call us at <a target="_blank" href="tel:8055642497">(805) 564-2497</a> or use our <a
							href="/contact/">contact form</a></p>
				</div>
			</div>
		</div>
	</section>
</div>