---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			<div class="frontpage_content" style="border-bottom: solid #333 2px;">
				<div class="frontpage_link">
					<a href="/products/fruit-bowls/">
						<h2>Fruit Bowls</h2>
						<p><img alt="Fruit Bowl" title="Fruit Bowl" class="fadeload"
								src="/uploads/fruitbowl.jpg"></p>
					</a>
				</div>
				<div class="frontpage_link">
					<a href="/products/drinks">
						<h2>Drinks</h2>
						<p><img alt="Drinks" title="Drinks" class="fadeload" src="/uploads/drink.jpg"></p>
					</a>
				</div>
				<div class="frontpage_link">
					<a href="/products/burritos">
						<h2>Burritos</h2>
						<p><img alt="Burrito" title="Burrito" class="fadeload" src="/uploads/burrito.jpg"></p>
					</a>
				</div>
			</div>
			<div class="frontpage_content">
				<div>
					<h2>Fresh Bread, <br>Every Morning</h2>
					<p>We make fresh breads, always by hand, every day.</p>
					<p><img alt="Fresh Bread" title="Delicious breads baked fresh" class="fadeload"
							src="/uploads/bakery.jpg"></p>
				</div>
				<div>
					<p><img class="fadeload" src="/uploads/cake.jpg" /></p>
					<h2>We Make Cakes!</h2>
					<p>Call us at <a target="_blank" href="tel:8055642497">(805) 564-2497</a> or use our <a
							href="/contact/">contact form</a></p>
				</div>
			</div>
		</div>
	</section>
</div>